@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #FDFBFC;
    --cor1: #FDFBFC;
    --cor2: #E4D6D3;
    --cor3: #B3A5A2;
    --cor4: #1B1E25;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Salsa', cursive;
    --font-android: 'Android', cursive;
}

body {
    background-color: var(--cor2);
}

.tarjaPreta {
    width: 100%;
    height: 30px;
    background-color: var(--cor4);
    border-radius: 25px 25px 0px 0px;
}
main {
    background-color: var(--cor0);
    margin: auto;
    width: 800px;
    border-radius: 25px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.637);
}

a > img {
    width: 20px;
    padding: 5px;
    float: right;
    margin-right: 10px;
}

article {
    display: inline-block;
}

article > p{
    display: inline-block;
    width: 150px;
}

article > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h1 {
    padding-left: 5%;
    display: inline-block;
    font-family: var(--fonte-destaque);
    text-shadow: 5px 5px 10px rgba(66, 65, 65, 0.555);
}

nav {
    display: inline-block;
    float: right;
    padding: 34px 70px 0px 0px;
}

nav > a {
    color: var(--cor4);
    text-decoration: none;
    font-weight: bold; 
    padding: 10px;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor0);
    border-radius: 5px;
}

.imgCapa {
   width: 100%;
   height: 300px;
   background-color: var(--cor2);
   box-shadow: 0px 0px 17px rgba(128, 127, 127, 0.281);
}

h2 {
    text-align: center;
    font-family: var(--fonte-destaque);
}

.container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.subMenu {
    margin: auto;
    text-align: center;
}

img {
    max-width: 100%;
}

h3 {
    font-family: var(--fonte-destaque);
}

.description {
    text-align: justify;
    line-height: 22px;
}

footer {
    text-align: center;
}